.customers {
    padding: 41px 0;
    margin: 0px auto;

    &__greeting {
        margin: 0 0 51px;
        font-size: 2.4rem;
        line-height: 3.6rem;
    }

    &__content {
        width: 968px;
        height: 812px;
        padding: 30px 44px 40px 38px;
        background-color: #ffffff;
        border-radius: 30px;

        @media (max-width: 980px) {
            width: 320px;
            height: 3091px;
            padding: 10px;
            border-radius: 10px;
        }
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 0 20px 0;

        @media (max-width: 980px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 2.2rem;
        line-height: 3.3rem;
        margin-bottom: 6px;
    }

    &__active {
        font-size: 1.4rem;
        line-height: 2.1rem;
        color: #16C098;
        letter-spacing: -0.03rem;
    }

    &__search {
        position: relative;
        margin: 7px 8px 0px 0px;
    }

    &__search-img {
        position: absolute;
        left: 8px;
        top: 7px;
        width: 24px;
        height: 24px;
    }

    &__search-input {
        border: none;
        background-color: #F9FBFF;
        border-radius: 10px;
        width: 216px;
        font-size: 1.2rem;
        line-height: 1.8rem;
        padding: 10px 10px 10px 40px;
    }
}

.customers-table {
    border-collapse: collapse;
    width: 100%;

    &__head {
        @media (max-width: 980px) {
            display: none;
        }
    }

    &__head-row {
        position: relative;

        &::after {
            content: "";
            width: 968px;
            left: -38px;
            bottom: 0px;
            border-bottom: 1px solid #EEEEEE;
            position: absolute;
        }
    }

    &__title {
        text-align: start;
        font-size: 1.4rem;
        line-height: 2.1rem;
        color: #B5B7C0;
        padding: 20px 0;
    }

    &__body {}

    &__body-row {
        border-bottom: 1px solid #EEEEEE;

        @media (max-width: 980px) {
            display: flex;
            flex-direction: column;
        }
    }

    &__description {
        font-size: 1.4rem;
        line-height: 2.1rem;
        color: #292D32;
        padding: 18px 0px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        @media (max-width:980px) {

            display: flex;

            &:before {
                content: attr(datalabel);
                display: block;
                width: 130px;
                font-size: 1.4rem;
                line-height: 2.1rem;
                color: #B5B7C0;
            }
        }
    }

    &__description-button {
        font-size: 1.4rem;
        line-height: 2.1rem;
        padding: 4px 12px;
        width: 80px;
        border-radius: 4px;

        &--active {
            background-color: rgba(22, 192, 152, .38);
            border: 1px solid #00B087;
            color: #00B087;
        }

        &--inactive {
            background-color: #FFC5C5;
            border: 1px solid #DF0404;
            color: #DF0404;
        }
    }
}

.customers-paginate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0px 0px;

    @media (max-width: 980px) {
        flex-direction: column;
        gap: 20px;
    }

    &__info {
        font-size: 1.4rem;
        line-height: 2.1rem;
        color: #B5B7C0;
    }
}

.customers-pagination {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 31px;


    @media (max-width: 980px) {
        gap: 6px;
    }

    &__item-link {
        background-color: #F5F5F5;
        border: 1px solid #EEEEEE;
        border-radius: 4px;
        padding: 3px 9px;
        font-size: 1.2rem;
        line-height: 1.2rem;
        color: #404B52;
        cursor: pointer;
        transition: all .3s ease;

        @media (max-width: 980px) {
            padding: 3px 6px;
            font-size: 1rem;
            line-height: 1rem;
        }

        &--active,
        &:hover {
            color: #ffffff;
            background-color: #5932EA;
            border: 1px solid #5932EA;
        }

        &--break {
            font-size: 1.2rem;
            line-height: 1.2rem;
        }
    }
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}