@import "./normalize";
@import "./variables";


.wrapper {
    display: flex;
    gap: 70px;
    min-height: 100%;

    @media (max-width: 1360px) {
        display: block;
        width: 968px;
        margin: 0px auto;
    }

    @media (max-width: 980px) {
        width: 320px;
    }
}

.header {
    display: none;

    @media (max-width: 1360px) {
        display: flex;
        align-items: center;
        gap: 50px;
    }
}

.menu {
    width: 306px;
    background-color: $white;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    @media (max-width: 1360px) {
        opacity: 0;
        position: fixed;
        transform: translateX(-100%);
        top: 0px;
        transition: transform .3s ease;
        z-index: 100;
        box-shadow: 2px 0px 5px $gray;

        &--active {
            opacity: 1;
            left: 0px;
            display: flex;
            transform: translateX(0);
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 18px;
        flex: 1 1 auto;
    }

    &__item {
        width: 250px;
    }

    &__item-img {
        margin-right: 15px;
    }

    &__item-link {
        font-size: 1.4rem;
        line-height: 2.1rem;
        color: $gray;
        display: flex;
        align-items: center;
        padding: 11px;
        transition: all .3s ease;

        &:hover,
        &--active {
            background-color: $blue-lilac;
            color: $white;
            border-radius: 8px;

            svg {
                stroke: $white;
            }
        }
    }

    &__item-arrow {
        margin-left: auto;
        margin-right: 2px;
    }
}

.logo {
    margin: 36px 0px;
    width: 250px;
    display: flex;
    align-items: center;
    gap: 8px;

    &__img {
        width: 38px;
        height: 36px;
    }

    &__name {
        font-size: 2.6rem;
        line-height: 3.9rem;
    }

    &__version {
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: -1%;
        color: #838383;
    }
}

.user {
    margin-bottom: 70px;
    width: 250px;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;

    &__photo {
        width: 42px;
        height: 42px;
    }

    &__name {
        font-size: 1.4rem;
        line-height: 2.1rem;
        text-transform: capitalize;
    }

    &__profession {
        color: #757575;
        font-size: 1.2rem;
        line-height: 1.8rem;
        text-transform: capitalize;
    }
}